p{
    padding-top:15px;
}
a{
    font-size: 16px;
    color: #B21F50;
    text-decoration-style: wavy;
}

:focus{
    border: 6px #417243 dashed;
}

h1{
    display:block;
    margin:auto;
    line-height: 2;
    font-family: syncopate, sans-serif;
    text-align: center;
}

body{
    background-image:url("../images/pigeon-background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    background-color: #DDDDDD;
}

td{
    text-align: center;
    border-bottom: 2px solid #000000;
    padding: 10px;
}

thead > tr > th{
    min-width: 125px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #7e0820;
    text-align: center;
    text-transform: uppercase;
}

tbody > tr > th{
    border: 2px solid #000000;
    border-top: none;
}

tr{
    transition: background-color .3s ease-in-out;
}

tr:hover, tr:nth-child(even):hover, tr:nth-child(odd):hover{
    background-color: rgb(126, 8, 32,.25);
}

tr:nth-child(even){
    background-color: #D1D1D1;
}

tr:nth-child(odd){
    background-color: transparent;
}

table{
    border-spacing: 0px;
    border-right: 2px solid #000000;
    margin:auto;
    border-radius: 20px;
    overflow:hidden;
}

footer{
    position:fixed;
    bottom: 0px;
    left:0px;
    width:100%;
}

thead>tr:first-child>th:first-child{
    border-top-left-radius: 20px;
}

thead>tr:first-child>th:last-child{
    border-top-right-radius: 20px;
}

tbody>tr:last-child>th:first-child{
    border-bottom-left-radius: 20px;
}

tbody>tr:last-child>td:last-child{
    border-bottom-right-radius: 20px;
}

tbody>tr:first-child{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

tbody>tr:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}